<h2><u>Predictive Analystics</u></h2>

# Module 2 â€“ Probability
<h2> EnCare Bank Demo on Marginal and Joint Probability </h2>

**Import Libraries**

In [2]:
import pandas as pd
import numpy as np

**Load Dataset**

In [3]:
data = pd.read_csv('term_deposit.csv')

In [4]:
data.head()

,gender,age,job,marital,education,default,housing,loan,contact,term_deposit
0,female,56,housemaid,married,basic.4y,no,no,no,telephone,no
1,male,57,services,married,high.school,yes,no,no,telephone,no
2,female,37,services,married,high.school,no,yes,no,telephone,no
3,female,40,admin.,married,basic.6y,no,no,no,telephone,no
4,female,56,services,married,high.school,no,no,yes,telephone,no

In [74]:
data.describe(include='O')

,gender,job,marital,education,default,housing,loan,contact,term_deposit
count,41188,41188,41188,41188,41188,41188,41188,41188,41188
unique,2,12,4,8,2,2,2,2,2
top,female,admin.,married,university.degree,no,yes,no,cellular,no
freq,20798,10422,24928,12168,32588,22566,33950,26144,36548

### Part 1

### Marginal Probability
#### Q1. Find the probability that the customer will take the term deposit

In [9]:
S=data.shape[0]
print('Total number of customers: ',S)

Total number of customers:  41188

In [10]:
E=len(data[data.term_deposit=='yes'].term_deposit)
print('Total number of customer who have term deposit: ',E)

Total number of customer who have term deposit:  4640

In [12]:
p=round(E/S,3)
print('Probability that a customer will take term deposit: ',p)

Probability that a customer will take term deposit:  0.113

#### Q2. Find the probability that a customer has at least 9 year of basic education.

In [22]:
S=data.shape[0]
print('Total number of customers: ',S)

Total number of customers:  41188

In [23]:
# Let's find how many customers have atleast 9 year basic education.
data.education.value_counts()

university.degree      12168
high.school             9515
basic.9y                6045
professional.course     5243
basic.4y                4176
basic.6y                2292
unknown                 1731
illiterate                18
Name: education, dtype: int64

In [24]:
E=5243+6045+9515+12168
print('Total number of customer who have at least 9 year basic education: ',E)

Total number of customer who have at least 9 year basic education:  32971

In [25]:
p=round(E/S,3)
print('Probability that a customer will take term deposit: ',p)

Probability that a customer will take term deposit:  0.801

#### Q3. Find the probability that a customer is technician.

In [26]:
S=data.shape[0]
print('Total number of customers: ',S)

Total number of customers:  41188

In [31]:
# Let's find how many customers visited are technician.
data.job.value_counts()

admin.           10422
blue-collar       9254
technician        6743
services          3969
management        2924
retired           1720
entrepreneur      1456
self-employed     1421
housemaid         1060
unemployed        1014
student            875
unknown            330
Name: job, dtype: int64

In [30]:
E=6743
print('Total number of customer who are techician: ',E)

Total number of customer who are techician:  6743

In [32]:
p=round(E/S,3)
print('Probability that a customer is a technician : ',p)

Probability that a customer is a technician :  0.164

---
### Joint Probability
#### Q1. Find the probability for a male customer who has already taken term deposit.

In [38]:
S=data.shape[0]
print('Total number of customers: ',S)

Total number of customers:  41188

In [43]:
# Let's see how many customers are male and has term deposit
pd.crosstab(data.gender,data.term_deposit, margins=True)

term_deposit     no   yes    All
gender
female        18442  2356  20798
male          18106  2284  20390
All           36548  4640  41188

In [40]:
E=2284
print('Number of customers who are male and has taken term deposit: ',E)

Number of customers who are male and has taken term deposit:  2284

In [41]:
p=round(E/S,3)
print('Probability that a customer is male and has term deposit : ',p)

Probability that a customer is male and has term deposit :  0.055

#### Q2. Probability that a customer is married and has housing as well

In [45]:
S=data.shape[0]
print('Total number of customers: ',S)

Total number of customers:  41188

In [46]:
# Let's see how many customers are married and has housing as well
pd.crosstab(data.marital,data.housing, margins=True)

housing      no    yes    All
marital
divorced   2092   2520   4612
married   11389  13539  24928
single     5097   6471  11568
unknown      44     36     80
All       18622  22566  41188

In [47]:
E=13539
print('Number of customers who are married and has housing as well: ',E)

Number of customers who are married and has housing as well:  13539

In [48]:
p=round(E/S,3)
print('Probability that a customer is married and has housing as well: ',p)

Probability that a customer is married and has housing as well:  0.329

#### Q3. Probability that a customer has university degree and no loan

In [53]:
S=data.shape[0]
print('Total number of customers: ',S)

Total number of customers:  41188

In [54]:
# Let's see how many customers have a university degree and no loan
pd.crosstab(data.education,data.loan, margins=True)

loan                    no   yes    All
education
basic.4y              3435   741   4176
basic.6y              1902   390   2292
basic.9y              5011  1034   6045
high.school           7852  1663   9515
illiterate              15     3     18
professional.course   4325   918   5243
university.degree     9961  2207  12168
unknown               1449   282   1731
All                  33950  7238  41188

In [55]:
E=9961
print('Number of customers who are married and has housing as well: ',E)

Number of customers who are married and has housing as well:  9961

In [56]:
p=round(E/S,3)
print('Probability that a customer has university degree and no loan: ',p)

Probability that a customer has university degree and no loan:  0.242

---
### Part 2

### Conditional Probability
#### Q1. Given that probability that  customer has taken term deposit, find the probability that she is a female.

In [58]:
S=data.shape[0]
print('Total number of customers: ',S)

Total number of customers:  41188

In [60]:
# Let's see how many customers are female and have term deposit
pd.crosstab(data.gender,data.term_deposit, margins=True)

term_deposit     no   yes    All
gender
female        18442  2356  20798
male          18106  2284  20390
All           36548  4640  41188

In [62]:
A=4640
B=20798
AnB=2356
print('Number of customers who has taken term deposit: ',A)
print('Number of females: ',B)
print('Number of customers who are female and has term deposit as well: ',AnB)

Number of customers who has taken term deposit:  4640
Number of females:  20798
Number of customers who are female and has term deposit as well:  2356

In [65]:
pAnB=round(AnB/S,3)
pA=round(A/S,3)
print('Joint probability that a customer is female and has term deposit: ',pAnB)
print('Marginal Probability that a customer has taken term deposit: ',pA)

Joint probability that a customer is female and has term deposit:  0.057
Marginal Probability that a customer has taken term deposit:  0.113

In [67]:
pBA=round(pAnB/pA,3)
print('Probability that a customer is female, if the customer has taken term deposit[P(B|A)]: ',pBA)

Probability that a customer is female, if the customer has taken term deposit[P(B|A)]:  0.504

#### Q2. Given that selected customer has defaulted in past, find the probability that he/she has a blue collar job.

In [68]:
S=data.shape[0]
print('Total number of customers: ',S)

Total number of customers:  41188

In [69]:
# Let's see how many customers have defaulted and have blue collar job
pd.crosstab(data.default,data.job, margins=True)

job,admin.,blue-collar,entrepreneur,housemaid,management,retired,self-employed,services,student,technician,unemployed,unknown,All
default,,,,,,,,,,,,,
no,9129,6088,1155,741,2466,1327,1139,3053,771,5765,776,178,32588
yes,1293,3166,301,319,458,393,282,916,104,978,238,152,8600
All,10422,9254,1456,1060,2924,1720,1421,3969,875,6743,1014,330,41188

In [70]:
A=8600
B=9254
AnB=3166
print('Number of customers who have defaulted: ',A)
print('Number of customers who have blue collar job: ',B)
print('Number of customers who are female and has term deposit as well: ',AnB)

Number of customers who have defaulted:  8600
Number of customers who have blue collar job:  9254
Number of customers who are female and has term deposit as well:  3166

In [71]:
pAnB=round(AnB/S,3)
pA=round(A/S,3)
print('Joint probability that a customer has defaulted and has a blue collar job: ',pAnB)
print('Marginal Probability that a customer has defaulted: ',pA)

Joint probability that a customer has defaulted and has a blue collar job:  0.077
Marginal Probability that a customer has defaulted:  0.209

In [72]:
pBA=round(pAnB/pA,3)
print('Probability that a customer has a blue collar job, if the customer has defaulted[P(B|A)]: ',pBA)

Probability that a customer has a blue collar job, if the customer has defaulted[P(B|A)]:  0.368